.text-center{
    text-align : center;
}
.bg-red{
    background-color: cyan;
}
.mx-margin{
    
    margin: 0px auto;
}
.flex{
    display: flex;
}
.flex-dir{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.input{
    width: 215px;
    padding: 6px 2.4px;
    border: 2px solid black;
    border-radius: 5px;
}